* {
    box-sizing: border-box;
}

.movie {
    width: 100%;
    min-height: 340px;
    max-height: 400px;
    border: darkred solid 0.1vw;
    border-radius: 1.25vw;
    margin: 0.5vw;
    background: #bbbbbb;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transition: all .125s ease;
    overflow: hidden;
}

.movie:hover {
    transform: scale(1.1);
}

#button {
    color: var(--button-color);
    border-radius: 1.25vw;
    margin: 0.625vw;
}

.text {
    text-align: center;
    color: var(--text-color);
}