:root {
    --background-color: #fcfbfb;
    --background-image: url("../../images/abstr.jpg");
}


html[data-theme='dark'] {
    --background-color: #292929;
    --background-image: url("../../images/spase.jpeg");
}

.errorContainer {
    height: 100vh;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms linear;
}

.errorComponent {
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorIcon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #721c24;
}

.errorTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.errorMessage {
    margin: 10px 0 0;
    font-size: 16px;
}
