.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding: 20px;
    background-color: var(--header-background-color);
    color: var(--button-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footerText {
    font-size: 1rem;
}

.footerLinks {
    display: flex;
    gap: 20px;
}

.footerLink {
    color: var(--button-color);
    text-decoration: none;
    font-size: 1rem;
}

.footerLink:hover {
    text-decoration: underline;
}