
.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-dots li button:before {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 40px;
    width: 95vw;
    border: var(--button-color) solid 2px;
    border-radius: 15px;
    margin: 20px 0;
}

.title {
    text-align: center;
    color: var(--title-color);
}

.movie {
    padding: 10px;
}

.moviesContainer {
    margin-bottom: 50px;
}


